/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/utilities";

$utilities: () !default;

$utilities: map-merge(
  $utilities,
  (
    "gap":
      map-merge(
        map-get($utilities, "gap"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "gap"), "values"),
              (
                6: $spacer * 5,
              )
            ),
        )
      ),
  )
);

@import "~bootstrap/scss/bootstrap.scss";
